@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 800;
    color: #525c55;
}

/* headings and logo */

h1 {
    font-family: "open sans condensed", sans-serif;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 300%;
}