@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 800;
    color: #000000;
}

/* logo */

h1, h2, h3 {
    font-family: "open sans condensed", sans-serif;
    letter-spacing: 2px;
}

#logo {
    font-size: 400%;
    margin-left: 30px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* navigation menu */

#menu {
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, .active {
    border-bottom: 2px solid;
}

/* hero image and text overlay */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;

    /* zoom animation  for hero image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*  create level zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#text-overlay {
    color: #fff;
    font-size: 120%;

    width: 400px;
    height: 120px;

    background-color: rgba(0, 0, 0, .7);

    bottom: 30px;
    right: 100px;

    position: absolute;
}

#text-overlay h3 {
    float: right;
    padding-right: 10px;
}

#text-overlay h2 {
    padding-left: 10px;
}

/* introduction heading and text */

.introduction {
    margin-top: 300px;
    margin-bottom: 300px;
}

.intro-heading {
    text-align: center;
    font-size: 400%;
    margin-bottom: 50px;
}

.intro-heading a {
    padding: 2%;
}

.introduction p {
    text-align: center;
    margin: 50px 5% 0;
    font-size: 120%;
    font-weight: 1000;
}

/* tile display section and technique pages text */

#tile-display {
    height: 1350px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 300px;
}

.tile-row {
    height: 33%;
    width: 100%;
    /*display: inline-block; */
}

.tile {
    height: 100%;
    width: 50%;
}

.tile h2 { 
    text-align: center;
    padding: 2.5% 0 5%;
    font-size: 220%;
}

.tile h3 {
    padding: 1% 2%;
    text-decoration: underline;
    font-size: 150%;
}

.tile p {
    padding: 1% 2%;
}

.link {
    text-align: center;
    padding-top: 5%;
}

.link > a, input[type=submit] {
    letter-spacing: 2px;
    color: #fff;
    background-color: #000000;
    border: 5px solid #000000;
    padding: 3px 6px;
    font-weight: bolder;
}

.link a:hover, input:hover {
    border-bottom: none;
    border-color: #fff;

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tile-image > img {
    object-fit: cover;
}

/* group sessions */

#group-sessions div {
    width: 20%;
    height: 180px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #525c55;
    box-sizing: border-box;
}

/* footer */

footer {
    height: 150px;
    clear: both;
}

footer > ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
}

footer a:hover {
    border-bottom: none;
}

/* technique pages */

.technique {
    clear: both;
    width: 90%;
    height: 1050px;
    margin: 0 auto;
    border-top: 2px solid #000000;
}

.technique-description, .technique-media {
    width: 50%;
    height: 83%;
}

.technique-description h3,p {
    padding: 0 4% 2% 1%;
}

.technique-description {
   /* background-color: red; */
    overflow: auto;
}

.technique-description h3 {
    text-decoration: underline;
    font-size: 220%;
}

.technique-image, .technique-video {
    width: auto;
    height: 42.5%;
    padding: 5% 2.5% 2.5% 5%;
    
}

iframe {
    width: 100%;
    height: 100%;
}

.technique-description ul {
    padding: 0 5%;
}

.technique-description li {
    padding-bottom: 2%;
}

/* sign up page */

#sign-up-form {
    clear: both;
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    border-top: 2px solid #000000;
}

#sign-up-registration {
    width: 35%;
    margin: 0 auto;
}

#sign-up-form h2, .technique > h2 {  /* ask anthony */
    text-align: center;
    font-size: 400%;
    margin-bottom: 5%;
    padding-top: 5%;
    height: 7%;
}

fieldset, input[type=text], input[type=email] {
    border: 4px solid #000000;
}

input[type=text], input[type=email] {
    height: 2em;
    width: 25em;
    margin: 2%;
}

.input-field {
    margin: 2%;
}

.input-field > h4 {
    text-decoration: underline;
    margin-bottom: 2%;
}

.last-field {
    margin-bottom: 4%;
}

legend {
    margin: 0 2%;
    font-size: 2em;
}

.right-side {
    margin-left: 4%;
}

input[type=submit] {
	margin-top: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 800;
}

/* media queries */


/* for screen width less than 1200px */
@media screen and (max-width: 1200px) {

    /* home page */
    #tile-display {
        margin: 0 5%;
        width: auto;
    }

    /* technique pages */
    .technique-image, .technique-video {
        padding: 2.5% 0 1.25% 2.5%;
    }

    .technique {
        width: 95%;
    }

    img {
        object-fit: cover;
    }

    /* sign up form */
    input[type=text], input[type=email] {
        width: 20em;
    }
}

/* for screen width less than 1025px */
@media screen and (max-width: 1025px) {

    /* home page */
    #group-sessions div {
        padding: 10px 0 0 1px;
    }

    img {
        object-fit: contain;
    }

    #menu li {
        margin-right: 10px;
    }

    .introduction {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .tile-text {
        clear: both;
        float: left;
    }

    .tile {
        width: 100%;
        height: 50%;
    }

    .tile-image {
        object-fit: contain;
    }

    #tile-display {
        height: 3000px;
        margin: 0;
    }

    /* technique pages */
    .technique-description {
        margin: 0;
        height: 700px;
    }

    .technique > h2 {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .technique-description, .technique-media {
        width: 100%;
    }

    .technique-media {
        clear: both;
    }

    .technique {
        overflow: hidden;
        height: 2100px;
    }

    .technique > h2 {
        height: 100px;
    }

    .technique-media {
        height: 1200px;
    }

    .technique-image {
        padding: 25px 0 25px 0;
    }

    .technique-video {
        padding: 25px 0 10px 0;
    }

    /* sign up page */
    #sign-up-form h2 {
        font-size: 300%;
    }

    #sign-up-registration {
        width: 45%;
    }
}