@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 800;
    color: #525c55;
}

/* logo */

h1 {
    font-family: "open sans condensed", sans-serif;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation menu */

#menu {
    float: right;
    font-size: 90%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #525c55;
}

.active {
    border-bottom: 2px solid #525c55;
}

/* hero image and text overlay */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#text-overlay, #text-overlay h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;

    /* zoom animation  for hero image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*  create level zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#text-overlay {
    font-size: 120%;
    font-family: "open sans condensed", sans-serif;
    letter-spacing: 2px;

    width: 400px;
    height: 120px;

    background-color: rgba(118, 196, 127, .7);

    bottom: 30px;
    right: 100px;

    position: absolute;
}

#text-overlay h3 {
    float: right;
    padding-right: 10px;
}

#text-overlay h2 {
    padding-left: 10px;
}
